@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {display: none;}

body {font-family: "Poppins", sans-serif !important;font-family: "Montserrat", sans-serif !important;}

h1, h2, h3 {font-family: "Poppins", sans-serif !important;color: var(--main-black);}
h4, h5, h6 {font-family: "Montserrat", sans-serif !important;color: var(--main-black);}
p {font-family: "Montserrat", sans-serif !important;color: var(--main-gray);}
a {font-family: "Montserrat", sans-serif !important;text-decoration: none !important;color: var(--main-gray);}
span {font-family: "Montserrat", sans-serif !important;}
ul {padding: 0;margin: 0;}
ul li {font-family: "Montserrat", sans-serif !important;color: var(--main-gray);}

/* 29-3-2024 */

.scrollnavbar .v-list > .v-list-group > .v-list-item--active, .scrollnavbar .v-list > .v-list-group > .v-list-item:hover {background: var(--main-light-skyblue) !important;}
/* .scrollnavbar .v-list-item--active .v-list-item-title.mr-auto {color: var(--main-white) !important;} */
/* .scrollnavbar .v-list-item--active .v-list-item__append i {color: var(--main-white) !important;} */
/* .scrollnavbar .v-list-item--active .v-list-item__prepend .iconClass {color: var(--main-white) !important;} */
.scrollnavbar .v-list-item--active .v-list-item__prepend .icon-tabler-circle {color: var(--main-medium-gray) !important;}
.v-list-item-title {font-family: "Montserrat", sans-serif !important;font-size: 14px !important;font-weight: 500 !important;color: var(--main-medium-gray);}
.v-list-item-title:hover {color: var(--main-blue) !important;}
.scrollnavbar .v-list > .v-list-group:after {content: unset !important;}

.toogle__icon .icon-tabler-menu-2 {color: var(--main-gray) !important;}
.page-wrapper {background-color: transparent !important;}
.header__element {border-bottom: 1px solid #ccc;}
.aside__drawer {border-right: 1px solid #ccc;}

.header__menu {font-family: "Montserrat", sans-serif !important;margin-left: 30px;color: var(--main-gray) !important;font-size: 15px;font-weight: 500;}

/* 29-3-2024 */

.title__wrap h2 {font-size: 22px;font-weight: 600;margin: 20px 0 30px 0;}
.v-breadcrumbs {padding: 16px 0;}
.card__template {background-color: transparent !important;box-shadow: none !important;border-radius: 0 !important;border-bottom: 1px solid #ccc !important;cursor: pointer;}
.card__template .card__image__element img {border-radius: 10px;}
.card__body__element {padding: 20px 0 20px 0;}
.card__body__element .project___short___detail h4 a {color: var(--main-gray);font-size: 14px;font-weight: 400;}
.card__body__element .project___short___detail h3 a {color: var(--main-blue);font-size: 20px;font-weight: 700;}
.cctc___camer img {width: 40px;height: 40px;display: block;margin: 0 auto;}
.card__template .card__image__element {position: relative;height: 213px;}
.card__template .card__image__element::before {content: '';background-color: var(--main-blue);position: absolute;width: 100%;height: 100%;z-index: 1;opacity: 0;transition: all 0.5s;}
.card__template .card__image__element:hover::before {opacity: 1;border-radius: 10px;}
.card__image__element .overlay__content {position: absolute;top: 0;left: 0;right: 0;z-index: 1;height: 100%;width: 100%;display: flex;opacity: 0;align-items: center;justify-content: center;transition: all 0.5s;}
.card__image__element:hover .overlay__content {opacity: 1;}
.card__body__element .v-row {align-items: center;}
.overlay__content .all__view {border: 2px solid var(--main-white);color: var(--main-white);border-radius: 100%;padding: 12px;margin-left: 10px;font-size: 18px;font-weight: 500;}
.overlay__content .camera__view {border: 2px solid var(--main-white);color: var(--main-white);border-radius: 100%;padding: 12px;}
.overlay__content img {width: 28px;height: 28px;}
.overlay__content .v-responsive.v-img {width: 100%;height: 100%;}
.overlay__content .v-responsive__sizer {width: 28px;height: 28px;}

/* Detail Section */

.camera_detail {margin: 50px 0;}
.camera__image img {border-radius: 6px;box-shadow: none;}
.v-card--variant-elevated {box-shadow: 0 4px 10px 0 #2e263d33, 0 0 transparent, 0 0 transparent;}

.related__wrap__element .title__wrap h2 {position: relative;padding-left: 20px;}
.related__wrap__element .title__wrap h2::before {content: '';background-color: var(--main-light-skyblue);width: 2px;height: 100%;position: absolute;left: 0;}
.related__slider__element .v-sheet {background-color: transparent;box-shadow: none !important;}
.related__slider__element img {border-radius: 6px;}

/* 2-4-2024 */

.logo__style .v-responsive.v-img {margin: 0 auto;}

/* 9-4-2024 */

.form___input .v-field__input {padding: 10px 20px !important;min-height: unset;}
.form__section .form__row {align-items: center;justify-content: center;}
.form__section {padding: 0 !important;margin: 20px 0;}

.v-main {margin-right: 0;}

/* 17-4-2024 */

.bg__element {background-color: transparent;padding: 10px 15px !important;}
.row__element {align-items: center;}
.btn__action {text-align: right;}
.table__element {margin-top: 30px;}

/* 18-4-2024 */

.form__element {margin-top: 25px;}
.user__title h3 {font-size: 22px;font-weight: 600;}
.bttn__info {border-color: var(--main-light-skyblue);color: var(--main-light-skyblue);transition: all 0.5s;font-size: 16px;}
.bttn__info:hover {background-color: var(--main-light-skyblue);color: var(--main-white);}
span.col__info {float: right;}
.leftSidebar {border-right: 1px solid #ccc;}
.edit__dialog {margin: 30px 20px;}
.icon__style__info {margin-right: 10px;}
.active_element {background-color: var(--success);color: var(--main-white);padding: 6px 12px;border-radius: 15px;}
.user_type {background-color: var(--success);color: var(--main-white);padding: 6px 12px;border-radius: 15px;}
.admin_type {background-color: var(--danger);color: var(--main-white);padding: 6px 12px;border-radius: 15px;}
.deactive_element {background-color: var(--danger);color: var(--main-white);padding: 6px 12px;border-radius: 15px;}

/* 19-4-2024 */

.label__form {color: var(--main-black) !important;font-weight: 500;}